.wrapper {
  max-height: 100vh;
}

.pathWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 4px;
  height: 20px;
}

.selectButton {
  margin-left: 4px;
}

.fileSystem {
  height: calc(100vh - 30px);
  overflow-y: auto;
}
